<!-- 全局js -->
    <script src="/hp/js/jquery-2.1.1.min.js"></script>
    <script src="/hp/js/bootstrap.min.js?v=3.4.0"></script>



    <!-- Flot -->
    <script src="/hp/js/plugins/flot/jquery.flot.js"></script>
    <script src="/hp/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/hp/js/plugins/flot/jquery.flot.resize.js"></script>

    <!-- Footable -->
    <script src="/hp/js/plugins/footable/footable.all.min.js"></script>

    <!-- 自定义js -->
    <script src="/hp/js/content.min.js?v=1.0.0"></script>
    <!-- ChartJS-->
    <script src="/hp/js/plugins/chartJs/Chart.min.js"></script>

    <!-- Peity -->
    <script src="/hp/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Peity demo -->
    <script src="/hp/js/demo/peity-demo.min.js"></script>

     <script src="/hp/js/plugins/jeditable/jquery.jeditable.js"></script>

    <!-- Data Tables -->
    <script src="/hp/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/hp/js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- jQuery Validation plugin javascript-->
    <script src="/hp/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/hp/js/plugins/validate/messages_zh.min.js"></script>

    <!-- Sweet alert -->
    <script src="/hp/js/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- Peity -->
    <script src="/hp/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Peity -->
    <script src="/hp/js/demo/peity-demo.min.js"></script>
    <script src="/hp/js/plugins/footable/footable.all.min.js"></script>
    <!--websocket -->
    <script src="/static/js/websocket.js"></script>


    <!-- CodeMirror -->
    <script src="/hp/js/plugins/codemirror/codemirror.js"></script>
    <script src="/hp/js/plugins/codemirror/mode/javascript/javascript.js"></script>

 <!-- jsTree plugin javascript -->
    <script src="/hp/js/plugins/jsTree/jstree.min.js"></script>
  <!-- Toastr script -->
    <script src="/hp/js/plugins/toastr/toastr.min.js"></script>



