<title>玩儿-title</title>
<link rel="icon" href="/hp/img/profile_small.jpg" type="image/x-icon" />

<link href="/hp/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
<link href="/hp/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
<link href="/hp/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/hp/css/animate.min.css" rel="stylesheet">

<link href="/hp/css/login.min.css" rel="stylesheet">
 <!-- Sweet Alert -->
<link href="/hp/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/hp/css/plugins/codemirror/codemirror.css" rel="stylesheet">
<link href="/hp/css/plugins/codemirror/ambiance.css" rel="stylesheet">
<link href="/hp/css/plugins/jsTree/style.min.css" rel="stylesheet">
<link href="/hp/css/plugins/toastr/toastr.min.css" rel="stylesheet">

<link href="/hp/css/style.min.css?v=3.0.0" rel="stylesheet">
