<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">

    {{template "layout/header.html" .}}
</head>

<body class="gray-bg top-navigation">

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            {{template "layout/top_sidebar.html" .}}

             {{.LayoutContent}}

            {{template "layout/footer.html" .}}
        </div>
    </div>

</body>

</html>